.button-class {
    background-color: antiquewhite;
    border: none;
    color: black;
    padding: 16px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
}


z-index: 999;

overflow: auto;

display: grid;
text-align: center;

.modal {
    margin: auto;
    display: inline-block box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}